nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;

    position: sticky;
    width: 100%;
}
ul li *{
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
ul li *:hover{
    font-weight: 600;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 1rem;
}
img{
    max-width: 125px;
}
ul li button{
    border: 1px solid rgb(255, 255, 255);
    background: none;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 15px;
}
ul li button:hover{
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-weight:400;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 500ms ease-in-out;
}