
.Shop-Card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
article{
    border-radius: 10px ;
    height:fit-content;
    width: 400px;
    overflow: hidden;
}
.Shop-Card{
    color: antiquewhite;
}
.prodImg{
    position: relative;
    max-width: 100%;
    height: 300px;
    margin: 0;
    
    
}
.Infos{margin-top: 2rem;}
.Elem figure img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.buttons button{
    width: 100px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.523);
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.buttons button *{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
small{
    position: absolute;
    cursor: pointer;
    
    background-color: #000000b8;
    padding: 10px 20px;
    border-radius: 25px;
    top: 5px;
    left: 5px;
}