.ValueSection{

    max-width: 100%;
    text-align: center;
    height: fit-content;
    color: white;
}
.ClientContainer{
    max-width: 100%;

}
.Clients{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff48;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    width: 100%;

}
.Disc-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Disc-info img {
    max-width: 100%;
    border-radius: 5px;
}
.TextDisc{
    max-width: 50%;
}
.Clients li img {
    height: 50px;
    object-fit: contain;
}