.ValueSection{

    width: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.ClientContainer{
    width: 100%;
    height: 100px;
}
.Clients{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a4a4a4af;
    list-style: none;
    padding: 0;
    width: 100%;

}
.Clients li img {
    max-height: 100%;
}